.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.cell {
    padding: 10px;
    max-width: 100mm;
    min-height: 70mm;
    border: 0.5px black dashed;
    page-break-inside: avoid;
    font-family: "Arial", Sans-serif;
}
.fam {
    font-weight: bold;
}
.sn {
    font-style: italic;
}
.det { font-size: small }
.guid { font-size: small }
